@{
    ViewData["Title"] = "Home Page";
}
<div>
    Aca se deberia ver el video:
    <br />
    <div style="border-color:blue;border:dotted">
        <video id='videoobj' width='400' height='400' type='video/mp4' src='some server path /GetSearchResults/" + id + "' />
    </div>
</div>